<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.id == current_user %>
         <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-user-cog"></i>
         <% end %>
      <% else %>
         <%= link_to user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-user-cog"></i>
         <% end %>
      <% end %>
        
       <div class="form-group">
          <label for="user_name">Name</label>
          <%= @user.name %>
       </div>
       <div class="form-group">
           <label for="user_image">Image</label>
           <%= f.file_field :profile_image, accept: "image/*" %>
       </div>
       <div class="form-group">
           <label for="user_introduction">Introduction</label>
           <%= @user.introduction %>
       </div>
       <div class="form-group">
           <%= f.submit 'Update User', class:"btn btn-secondary" %>
       </div>
       <% end %>
    </div>
  </div>   
</div>