<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= render 'userinfo', userid: @user.id %>
      <% if @user.id == current_user %>
         <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-user-cog"></i>
         <% end %>
      <% else %>
         <%= link_to user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-user-cog"></i>
         <% end %>
      <% end %>
        
       <div class="form-group">
          <table class="table">
             <tbody>
               <tr>
                 <th>name</th>
                 <th><%= @user.name %></th>
               </tr>
               <tr>
                  <th>image</th>
                  <tr> <%= f.file_field :profile_image, accept: "image/*" %></tr>
               </tr>
               <tr>
                 <th>Introduction</th>
                 <th><%= @user.introduction %></th>
               </tr>
             </tbody>
           </table>
        </div>
          <div class="form-group">
            <%= f.submit 'Update User', class:"btn btn-secondary" %>
          </div>
          <% end %>
    </div>
  </div>   
</div>