<p id="notice"><%= notice %></p>
 
 <% if @user.profile_image.attached? %>
   <%= image_tag profile_image, size: "100x100" %>
 <% else %>
   <%= image_tag 'default-image', size "100x100" %>
 <% end %>
 <table class="table">
   <tbody>
     <tr>
       <th>name</th>
       <th><%= @user.name %></th>
     </tr>
     <tr>
       <th>Introduction</th>
       <th><%= @user.introduction %></th>
     </tr>
   </tbody>
 </table>